<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{% block title %}Andrew MacRobert Photography{% endblock %}</title>

        {% block ogp %}
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{{ og.title|default('Andrew MacRobert Photography') }}" />

            {% if og.images is defined %}
                {% for image in og.images %}
                    <meta property="og:image" content="{{ image }}" />
                {% endfor %}
            {% else %}
                <meta property="og:image" content="https://andrewmacrobert.com/images/nightlife-events/pegboard-nerds-14.jpg" />
            {% endif %}

            {% if og.description is defined %}
                <meta property="og:description" content="{{ og.description }}" />
            {% endif %}

            <meta property="fb:admins" content="1240771202">
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css?v=2') }}" rel="stylesheet">
            <link href="{{ asset('bootstrap/dist/css/bootstrap-theme.min.css?v=1') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css?v=9') }}" rel="stylesheet">
            <link href="{{ asset('swipebox/css/swipebox.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/0c8c99d399.css">
            <link rel="stylesheet" href="{{ asset('justifiedGallery/justifiedGallery.min.css') }} " />
            <link href="https://fonts.googleapis.com/css?family=Raleway:500,600" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body class="{{ bodyclass|default('') }}">
        <div class="container-fluid">
        {% block header %}
            <div class="row header" style>
                <div class="col-xs-12">
                    <h1><a href="/">Andrew <span class="mac">Mac</span>Robert Photo<span class="abridge">graphy</span></a></h1>
                    <ul class="social-list">

                        <li title="Twitter"><a href="//twitter.com/andrewmacrobert" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>

                        <li title="Facebook"><a href="//facebook.com/andrewmacrobertphoto" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>

                        <li title="Instagram"><a href="//instagram.com/andrew.macrobert" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
            </div>

            <nav class="navbar navbar-inverse navbar-default navbar-fixed-top navbar-fixed-top-32">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">

                            <li role="presentation" class="dropdown {% if portfolioNavActive %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspop="true" aria-expanded="false">
                                    Portfolios <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu">

                                    {% for portfolio in menu %}
                                        <li {% if portfolio.active %}class="active"{% endif %}>
                                            <a href="/photos/{{ portfolio.machineName }}">{{ portfolio.name }}</a>
                                        </li>
                                    {% endfor %}

                                    <li {% if videoNavActive is defined %} class="active"{% endif %}>
                                        <a href="/video">Video</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="{% if blogNavActive is defined %}active {% endif %}">
                                <a href="/blog">Blog</a>
                            </li>

                            <li role="presentation" class="dropdown {% if moreNavActive is defined %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    More <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li {% if aboutNavActive is defined %}class="active"{% endif %}>
                                        <a href="/about">About</a>
                                    </li>

                                    <li>
                                        <a href="https://shirtsforphotographers.com" target="_blank">Shirts For Photographers</a>
                                    </li>

                                    <li {% if equipmentNavActive is defined %}class="active"{% endif %}>
                                        <a href="/equipment">Equipment</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="{% if contactNavActive is defined %}active {% endif %}cta">
                                <a href="/contact">Book Now</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js?v=1') }}"></script>
            <script src="{{ asset('justifiedGallery/jquery.justifiedGallery.min.js') }}"></script>
            <script src="{{ asset('swipebox/js/jquery.swipebox.min.js') }}"></script>
            <script src="{{ asset('js/main.js?v=1') }}"></script>
            <!-- Jarallax -->
            <script src="https://unpkg.com/jarallax@1.9/dist/jarallax.min.js"></script>
            <script src="https://unpkg.com/jarallax@1.9/dist/jarallax-video.min.js"></script>
            <script src="https://unpkg.com/jarallax@1.9/dist/jarallax-element.min.js"></script>

            <!-- Google Analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-80617528-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
