{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title">
            <h2>{{ post.post_title }}</h2>
            <p>Andrew MacRobert · {{ post.post_date.timestamp|date('F j, Y') }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <a href="{{ post.post_thumbnail.link|default('') }}" class="swipebox">
                <img class="featured-image" src="{{ post.post_thumbnail.link|default('') }}">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 post-content">
            {{ post.post_content|default('')|raw|nl2br }}
        </div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 share-buttons">
            <p><em>Sharing is caring</em></p>
            {% include 'default/rrssb.html.twig' %}
        </div>
    </div>

    {% include 'default/newsletter.html' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('rrssb/css/rrssb.css') }}" rel="stylesheet" />

    <style>
    .featured-image {
        width: 100%;
        margin-bottom: 30px;
    }

    .post-content {
        margin-bottom: 30px;
        font-size: 16px;
        font-family: Georgia, "Times New Roman", Times, serif;
        line-height: 32px;
    }

    .post-content img {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    .share-buttons {
        margin-bottom: 60px;
    }

    .cta-blog {
        text-align: left;
    }
    .cta-blog a {
        color: #3060AA;
        font-size: 1.35em;
        text-transform: uppercase;
    }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('rrssb/js/rrssb.min.js') }}"></script>

    <script>
        // Turn wordpress images into a swipebox gallery
        $(function() {
            $('.post-content img').wrap(function () {
                var img_url = $(this).attr('src');
                return '<a href="' + img_url + '" class="swipebox"></a>';
            });
            $('.swipebox').swipebox({hideBarsDelay: 1000});
        });
    </script>
{% endblock %}
