{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title">
            <h2>Photography Blog</h2>
        </div>
    </div>

    {% for post in posts %}
        <div class="row">
            <a href="blog/{{ post.post_id }}">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 blog-teaser{% if loop.last %} last{% endif %}">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="{{ post.post_thumbnail.thumbnail|default('') }}">
                        </div>
                        <div class="media-body">
                            <p class="date">{{ post.post_date.timestamp|date('F j, Y') }}</p>
                            <h4 class="media-heading">{{ post.post_title }}</h4>
                            <p>{{ post.post_excerpt|default('') }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

    {% include 'default/newsletter.html' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
    .blog-teaser {
        padding: 0 0 30px 0;
        margin-top: 30px;
        border-bottom: 1px solid #888;
    }

    .blog-teaser.last {
        border-bottom: none;
        padding: 0;
    }

    h4.media-heading {
        color: #3060AA;
    }

    p.date {
        float: right;
        font-size: 11px;
    }
    </style>
{% endblock %}