{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title">
            <h2>{{ title }}</h2>
            <p>{{ description|raw }}</p>
            <p class="instructions"><span class="click">Click</span><span class="tap">Tap</span> an image to see the full version</p>
        </div>
    </div>

    <div id="freewall">
        {% for photo in photos %}
            <a href="{{ asset(photo.uri) }}" data-lightbox="test-category" data-original="{{ asset(photo.uri) }}" class="lazy item {{ photo.orientation }}" style="background-image: url({{ asset('images/placeholder.png') }})"></a>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.lazy').lazyload({
            effect: 'fadeIn',
            threshold: 600
        });
    </script>
{% endblock %}