{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title">
            <h2>{{ title }}</h2>
            <p>{{ description|raw }}</p>
        </div>
    </div>

    <div class="row justify-content-md-center">
        {% for endorsement in endorsements %}
            <div class="{% if endorsements|length == 1 %}col-md-offset-3 {% endif %}col-md-6">
                <blockquote>{{ endorsement.quote }}"</blockquote>
                <div class="quote-author">&mdash; {{ endorsement.byline }}</div>
            </div>
        {% endfor %}
    </div>


    <div id="portfolio-gallery">
        {% for photo in photos %}
            <a href="{{ asset(photo.uri) }}" data-lightbox="test-category" data-original="{{ asset(photo.uri) }}">
                <img src="{{ asset(photo.uri) }}" width="{{ photo.width }}" height="{{ photo.height }}" />
            </a>
        {% endfor %}
    </div>

    {% include 'default/newsletter.html' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('#portfolio-gallery').justifiedGallery({
                rowHeight: 250,
                lastRow: 'center',
                margins: 2,
                waitThumbnailsLoad: true
            });
        });
    </script>
{% endblock %}
