{% extends 'base.html.twig' %}

{% block title %}{{ portfolio.name }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 page-title">
                <h2>{{ portfolio.name }}</h2>
                <h4>Portfolio</h4>
                <p>{{ portfolio.description|raw }}</p>
            </div>
        </div>

        {% if portfolio.banner %}
            <div class="row">
                <div class="col-xs-12 banner banner-short" style="background-image:url({{ asset(portfolio.banner) }})">
                </div>
            </div>
        {% endif %}

        <div class="row justify-content-md-center endorsements">
            {% for endorsement in portfolio.endorsements %}
                <div class="{% if portfolio.endorsements|length == 1 %}col-md-offset-3 {% endif %}col-md-6">
                    <blockquote>{{ endorsement.body }}"</blockquote>
                    <div class="quote-author">&mdash; {{ endorsement.author|raw }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="portfolio-gallery">
        {% for photo in photos %}
            <a href="{{ asset(photo.uri) }}" class="swipebox">
                <img src="{{ asset(photo.uri) }}" width="{{ photo.width }}" height="{{ photo.height }}" />
            </a>
        {% endfor %}
    </div>

    <div class="container-fluid">
        {% include 'default/newsletter.html' %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('#portfolio-gallery').justifiedGallery({
                rowHeight: 300,
                lastRow: 'center',
                margins: 10,
                waitThumbnailsLoad: true
            });

            $('.swipebox').swipebox({hideBarsDelay: 2000});
        });
    </script>
{% endblock %}
