{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
        </div>
    </div>

    <div id="freewall">
        {% for photo in photos %}
            <a href="{{ asset(photo.uri) }}" data-lightbox="test-category" data-original="{{ asset(photo.uri) }}" class="lazy item {{ photo.orientation }}" style="background-image: none)"></a>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.lazy').lazyload({
            effect: 'fadeIn',
            threshold: 200
        });
    </script>
{% endblock %}