{%
    set textboxes = [
        {
            'title': 'Welcome',
            'body': "
                <img src='/images/profile4.jpg' style='width: 250px; float: left; padding: 0 20px 20px 0' />
                <p style='text-align: left'>I'm Andrew, a Boston-based photographer and videographer for hire.</p>
                <p style='text-align: left'>I've been photographing shows, portraits, and more since 2014. It is my passion and purpose.</p>
                <p style='text-align: left'>Currently available for touring. Do you need photos or video?</p>
                <p style='text-align: left'><a href='/contact' class='btn btn-success btn-lg'>Reach out!</a></p>
            "
        },
        {
            'title': 'Concert Photography',
            'body': "
                <p>Concert photography is my bread and butter!</p>
                <p>I'm available for tours, one-off dates, music festivals, and artist headshots / press shots.</p>
                <p>
                    <a href='/photos/nightlife-events' class='btn btn-default btn-lg'>Concert Portfolio</a>
                    <a href='/contact' class='btn btn-info btn-lg'>Bookings</a>
                </p>
            "
        }, {},{},{},
        {
            'title': 'Portraits, Press, & Editorial',
            'body': "
                <p>I do people photography - from corporate headshots to glamour, from press shots to just-for-fun pics for your followers.</p>
                <p>
                    <a href='/photos/portraits' class='btn btn-default btn-lg'>Portrait Portfolio</a>
                    <a href='/contact' class='btn btn-info btn-lg'>Bookings</a>
                </p>
            "
        },{},{},{},{},{},
        {
            'title': 'Wedding Photography',
            'body': "
                <p>I would be thrilled and honored to be your wedding photographer.</p>
                <p><a href='/contact'>Contact me</a> for packages and rates</p>
                <p><a href='/photos/weddings' class='btn btn-default btn-lg'>Wedding Portfolio</a></p>
            "
        },{},{},{},{},
        {
            'title': 'Let\'s work together',
            'body': "
                <p>Like what you see?</p>
                <p><a href='/contact'>Reach out</a> and let me know your needs! I look forward to working with you.</p>
            "
        }
    ]
%}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="homepage-parallax">

                <div class="jarallax"
                    data-jarallax
                    data-jarallax-video="mp4:/video/risingup.mp4"
                    data-speed=".1">
                    <div class="hero">
                        <h2 style="margin-bottom: .1em; font-size: 1.8em">Andrew <span class='mac'>Mac</span>Robert</h2>
                        <h1 style="margin-top: 0">Photography</h1>
                        <a href="/photos/nightlife-events" class="btn btn-default btn-lg">
                            Concert Portfolio
                        </a>
                        <a href="/contact" class='btn btn-info btn-lg'>
                            Book Now
                        </a>
                    </div>
                </div>


                {% for photo in slideshow %}

                    {% if textboxes[loop.index0].body is defined %}
                        <div class="textbox">
                            <div class="textbox-content">
                                <h3>{{ textboxes[loop.index0].title }}</h3>
                                {{ textboxes[loop.index0].body|raw }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="jarallax" data-jarallax data-speed=".1" style="background-image: url({{ asset(photo.uri) }})">
                        {% if textboxes[loop.index0].hero is defined %}
                            <div class="hero">
                                {{ textboxes[loop.index0].hero|raw }}
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}

            </div>
    </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        .jarallax {
            height: 80vh;
        }
        .hero {
            position: relative;
            top: calc(35vh);
            background-color: rgba(0, 0, 0, .4);
            /*box-shadow: 0 0 10px rgba(0, 0, 0, .4);*/
            padding: 15px;
            text-align: center;
        }
        .hero h1, .hero h2 {
            font-family: 'Raleway';
            color: white;
            text-transform: uppercase;
        }

        .homepage-parallax h3 {
            font-family: 'Raleway';
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 2rem 0;
        }
        .homepage-parallax .textbox {
            width: 100%;
            padding: 3rem;
            background-color: rgba(255, 255, 255, .7);
            color: #333;
            background-color: #fff;
            box-shadow: 0 0 30px rgba(0, 0, 0, .6);
            position: relative;
            z-index: 1;
        }
        .homepage-parallax .textbox-content {
            max-width: 750px;
            margin: 0 auto;
        }
        .homepage-parallax .textbox-content p {
            font-size: 1.1em;
            text-align: center;
        }
        .homepage-parallax .textbox-content p a:not(.btn) {
            text-decoration: underline;
        }

    </style>

{% endblock %}
