<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{% block title %}Andrew MacRobert Photography{% endblock %}</title>

        {% block ogp %}
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{{ og.title|default('Andrew MacRobert Photography') }}" />

            {% if og.images is defined %}
                {% for image in og.images %}
                    <meta property="og:image" content="{{ image }}" />
                {% endfor %}
            {% else %}
                <meta property="og:image" content="https://andrewmacrobert.com/images/nightlife-events/pegboard-nerds-14.jpg" />
            {% endif %}

            {% if og.description is defined %}
                <meta property="og:description" content="{{ og.description }}" />
            {% endif %}


            <meta property="fb:admins" content="1240771202" />
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('swipebox/css/swipebox.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/0c8c99d399.css">
            <link rel="stylesheet" href="{{ asset('justifiedGallery/justifiedGallery.min.css') }} " />
            <link href="https://fonts.googleapis.com/css?family=Raleway:500,600" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body class="{{ bodyclass|default('') }}">
        <div class="container-fluid px-0">
            {% include 'default/component/header.html.twig' %}
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('justifiedGallery/jquery.justifiedGallery.min.js') }}"></script>
            <script src="{{ asset('swipebox/js/jquery.swipebox.min.js') }}"></script>
            <script src="{{ asset('js/main.js?v=1') }}"></script>
            <!-- Jarallax -->
            <script src="https://unpkg.com/jarallax@1.9/dist/jarallax.min.js"></script>
            <script src="https://unpkg.com/jarallax@1.9/dist/jarallax-video.min.js"></script>
            <script src="https://unpkg.com/jarallax@1.9/dist/jarallax-element.min.js"></script>

            <!-- Google Analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-80617528-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
